body{
  font-family: sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

section, header, footer{
  padding: 2em;
  max-width: 900px;
  background: white;
  margin: auto;
  margin-bottom: 1em;
}

form input, form textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 20px; /* アイコンとテキストの間の余白 */
}

.profile-icon {
  width: 120px;
  border-radius: 50%;
  flex-shrink: 0;
}

.profile-text {
  flex: 1; /* テキスト側は広がる */
}
